snippet hookvalue
value={value}
onChange={(event) => setValue(event.target.value) }
endsnippet

snippet uv
const [ value, setValue ] = useState('')
endsnippet

snippet trans
const { t } = useTranslation()
endsnippet
